**/.vscode/
.vscode
2-AI Image Classifier/data/
/2-AI Image Classifier/__pycache__
7-Multiplayer Game/release/multiplayer.console.exe
/7-Multiplayer Game/release
10-Operating System Kernel/.env
11-Local Cloud/.env
13-Language Model/model.pkl
13-Language Model/scrap.txt
**/build
**third_party

**/node_modules/